{% extends "layout.html" %}
{% block content %}
    <section>
        <form class="" method='POST' action="{{ url_for('user.payment_view') }}">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="card">
                <div class="card-body">
                    <h2>Make a Donation</h2>

                    <fieldset class="row mb-3">
                        <legend class="form-label form-label-top">Church</legend>
                        <div class="col-sm-5">
                            <select class="form-select" name="subaccountID">
                                <option selected disabled value="">Select a church</option>
                                {% for vendor in vendors%}
                                    <option value="{{ vendor['subaccount_id'] }}">{{ vendor['business_name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="row mb-3">
                        <legend class="form-label form-label-top">Type of Donation</legend>
                        <div class="col-sm-5">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="donation_type" id="lvo" value="Love Offering" checked>
                                <label class="form-check-label" for="lvo">
                                    Love Offering
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="donation_type" id="bue" value="Building Expansion">
                                <label class="form-check-label" for="bue">
                                    Building Expansion
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="donation_type" id="otd" value="One Time Donation">
                                <label class="form-check-label" for="otd">
                                    One Time Donation
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="row mb-3">
                        <legend class="form-label form-label-top">Donation Amount</legend>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" name="amount" value=0>
                            <span>Please enter your donation amount</span>
                        </div>
                    </fieldset>
                    <fieldset class="row mb-3">
                        <legend class="form-label form-label-top">Currency</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="currency" id="ngn" value="NGN" checked>
                                <label class="form-check-label" for="ngn">
                                    NGN
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="currency" id="usd" value="USD">
                                <label class="form-check-label" for="usd">
                                    USD
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    {% if current_user.cards %}
                        <fieldset class="row mb-3">
                            <div class="col-sm-10">
                                <div class="form-check cards">
                                    <input class="form-check-input" type="radio" name="retainedCard" id="reCard" value="1" checked />
                                    <label class="form-check-label" for="reCard">
                                        Use Existing cards
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-10 cards-inner">
                                {% for card in cards %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="card" id="card_{{ card.id }}" value="{{ card.id }}">
                                        <label class="form-check-label" for="card_{{ card.id }}">
                                            {{ card.issuer }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    {% endif %}
                    <fieldset class="row mb-3">
                        <div class="col-sm-10">
                            <div class="form-check cards">
                                <input class="form-check-input" type="radio" name="retainedCard" id="newCard" value="0" {% if current_user.cards == [] %}checked{% endif %} />
                                <label class="form-check-label" for="newCard">
                                    Use New Card
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock content%}