<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="left-navbar">
            <a class="navbar-brand" href="#">
                RC-POC
            </a>
            
        </div>
        <div class="" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class='nav-item' id='sub-nav' href="">
                    Donate
                </li>
                <li class='nav-item' id='sub-nav' href="">
                    Admin Dashboard
                </li>
            </ul>
        </div>
    </div>
</nav>
